<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="arshsingh93.funfacts" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/aaa_circ"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainPageActivity"
            android:label=""
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FunFactsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainPageActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainPageActivity" />
        </activity>

        <activity
            android:name=".Display84Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainPageActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="arshsingh93.funfacts.MainPageActivity" />
        </activity>
    </application>

</manifest>
